#main .banner-bg {
  position: relative;
  padding-top: 20px;
  min-height: 862px;
}
#main .banner-bg .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/1920x1284.jpg") no-repeat center center;
  background-size: cover;
}
#main .banner-bg .mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
#main .banner-bg .case-banner {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  #main .banner-bg .case-banner {
    max-width: 1024px;
    margin: 0 auto;
  }
}
#main .banner-bg .case-banner .box1 {
  padding-top: 134px;
}
#main .banner-bg .case-banner .box1 .box2 .head-text {
  text-align: center;
  font-size: 36px;
  color: #fff;
}
#main .banner-bg .case-banner .box1 .box2 .text1 {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
#main .banner-bg .case-banner .box1 .box2 .case-list {
  padding-top: 20px;
}
#main .banner-bg .case-banner .box1 .box2 .case-list > div {
  float: left;
  width: 33.33%;
  height: 559px;
}
#main .banner-bg .case-banner .box1 .box2 .case-list > div > div {
  height: 520px;
  background-color: #9d55ec;
}
#main .banner-bg .case-banner .box1 .box2 .case-list > div:nth-child(1) > div,
#main .banner-bg .case-banner .box1 .box2 .case-list > div:nth-child(3) > div {
  position: relative;
  margin: 50px 10px 24px;
  height: 440px;
  background-color: #85ff00;
}
