a {
  text-decoration: none !important;
  color: #fff !important;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
input {
  outline: none;
  border: none;
}
#header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
@media screen and (max-width: 992px) {
  #header {
    position: relative;
  }
  #header > nav {
    height: 52px;
    background-color: #fff;
  }
  #header > nav .nav-logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  #header > nav .nav-logo > a {
    display: block;
  }
  #header > nav .nav-logo > a img {
    display: block;
    margin: 0 auto;
  }
  #header > nav > ul {
    position: relative;
  }
  #header .mobile-menu {
    position: relative;
    width: 100%;
    text-align: center;
    height: 46px;
    background: linear-gradient(90deg, #1cc895, #3994e3);
  }
  #header .mobile-menu > div {
    position: relative;
    width: 100%;
    height: 100%;
    height: 46px;
    color: #fff;
    line-height: 46px;
  }
  #header .mobile-menu .mobile-nav-li {
    position: absolute;
    display: none;
    top: 46px;
    width: 100%;
    line-height: 35px;
    background: linear-gradient(90deg, #1cc895, #3994e3);
  }
  #header .mobile-menu .mobile-nav-li > li {
    width: 100%;
    height: 35px;
  }
}
@media screen and (min-width: 992px) {
  #header {
    position: fixed;
  }
  #header > nav {
    height: 80px;
  }
  #header > nav .nav-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #header > nav > ul {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
}
#header > nav {
  position: relative;
  width: 100%;
  padding: 0 40px;
}
#header > nav .nav-logo > a {
  display: block;
}
#header > nav .nav-logo > a > img {
  width: 166px;
  height: 25px;
}
#header > nav > ul > li {
  float: left;
  position: relative;
  width: 34px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  margin: 0 30px;
}
#header > nav > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
#header > nav > ul > li > a > i {
  position: absolute;
  bottom: -2px;
  width: 0;
  left: 50%;
  height: 1px;
  transition: all 0.5s;
}
#header > nav > ul > li > a:hover > i {
  background-color: #fff;
  width: 100%;
  left: 0;
}
#header > nav > ul > li.active > a > i {
  width: 100%;
  left: 0;
  background-color: #fff;
}
#footer {
  color: #A9A9A9;
  background-color: #0d0e11;
  padding: 50px 50px 20px;
}
@media screen and (max-width: 992px) {
  #footer {
    padding: 0;
    padding-bottom: 35px;
  }
}
#footer .footer-box {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
}
#footer .footer-box .footer-center {
  padding: 0 40px;
}
#footer .footer-box .footer-center .lg-footer > ul > li {
  float: left;
  width: 25%;
  color: #a9a9a9;
  padding: 0 25px;
}
#footer .footer-box .footer-center .lg-footer > ul > li > h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}
#footer .footer-box .footer-center .lg-footer > ul > li > p {
  font-size: 12px;
  line-height: 24px;
}
#footer .footer-box .footer-center .lg-footer > ul > li:nth-child(2) > ul > i {
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background-color: #fff;
}
#footer .footer-box .footer-center .lg-footer > ul > li:nth-child(4) > ul > li > i {
  color: #444444;
  font-size: 12px;
  margin-right: 5px;
}
#footer .footer-box .footer-center .lg-footer > p {
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}
#footer .footer-box .footer-center .sm-footer {
  margin-bottom: 20px;
  padding: 10px 15px 0;
  max-width: 768px;
  margin: 0 auto;
}
#footer .footer-box .footer-center .sm-footer > p {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}
#footer .contact-us {
  position: fixed;
  z-index: 888;
  right: 0;
  bottom: 200px;
}
#footer .contact-us .contact-content {
  position: relative;
  width: 114px;
  height: 114px;
  top: 0;
  left: 0;
}
#footer .contact-us .contact-content > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#footer .contact-us .contact-content .ball {
  z-index: 999;
  top: 20px;
  transform-origin: 0 38px;
  animation: ballRotate 2.5s infinite linear;
}
@keyframes ballRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
#footer .contact-us .contact-eq {
  display: none;
  position: absolute;
  right: 100px;
  top: 4px;
  width: 144.7px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  background: #fff;
  -webkit-transition: display 1s ease;
  transition: display 1s ease;
  z-index: 1;
  padding: 5px 10px;
  box-shadow: -5px 4px 4px rgba(0, 0, 0, 0.1);
}
#footer .contact-us .contact-eq:after {
  position: absolute;
  right: -20px;
  top: 50%;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#footer .contact-us .contact-eq > img {
  display: block;
  width: 110px;
  height: 110px;
  background-color: red;
}
#footer .contact-us:hover .contact-eq {
  display: block;
}
#footer .footer-nav {
  width: 40px;
  height: 135px;
  position: fixed;
  bottom: 30px;
  right: 35px;
  z-index: 999999;
  font-size: 12px;
  font-weight: lighter;
  font-family: 'Microsoft Yahei';
}
#footer .footer-nav > div {
  position: relative;
  display: block;
  margin-bottom: 5px;
  height: 40px;
  background: linear-gradient(90deg, #1cc895, #3994e3);
  box-shadow: 0px 0px 2px #3994e3;
  cursor: pointer;
}
#footer .footer-nav > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate3d(-50%, -50%, 0);
}
#footer .footer-nav > div > span > i {
  font-size: 24px;
  color: #fff;
}
#footer .footer-nav > div > div {
  display: none;
  text-align: center;
  line-height: 17px;
  padding: 4px 5px;
  color: #fff;
}
#footer .footer-nav > div:hover > span {
  display: none;
}
#footer .footer-nav > div:hover > div {
  display: block;
}
#footer .footer-nav .phone > i {
  display: none;
  position: absolute;
  left: -134px;
  top: 5px;
  width: 120px;
  height: 30px;
  color: white;
  line-height: 30px;
  text-align: center;
  box-shadow: 0px 0px 2px #3091f2;
  background: linear-gradient(90deg, #1cc895, #3994e3);
}
#footer .footer-nav .phone > i:before {
  position: absolute;
  right: -14px;
  top: 9px;
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: #3091f2;
}
#footer .footer-nav .phone:hover > i {
  display: block;
}
#footer .pop-up {
  display: none;
  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
#footer .pop-up .pop-content {
  z-index: 999;
  width: 840px;
  height: 520px;
  background-color: white;
  margin-left: -460px;
  margin-top: -282px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
}
#footer .pop-up .pop-content .pop-left {
  float: left;
  width: 420px;
  height: 520px;
  display: inline-block;
  vertical-align: top;
  background: #e9e9e9;
}
#footer .pop-up .pop-content .pop-left > img {
  width: 370px;
}
#footer .pop-up .pop-content .pop-right {
  float: right;
  width: 420px;
  height: 520px;
  text-align: center;
  vertical-align: top;
  color: #000;
  display: inline-block;
}
#footer .pop-up .pop-content .pop-right .submenu {
  margin-top: 64px;
}
#footer .pop-up .pop-content .pop-right .msg {
  font-size: 18px;
  line-height: 60px;
  text-align: left;
  width: 314px;
  margin: 0 auto;
  margin-top: 25px;
  height: 265px;
  background-color: #fff;
  border-radius: 3px;
}
#main .banner-bg {
  position: relative;
  padding-top: 20px;
  padding-bottom: 102px;
}
#main .banner-bg .bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/1920x1280.jpg") no-repeat;
  background-size: cover;
  top: 0;
}
#main .banner-bg .mask-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 48, 37, 0.3);
}
#main .banner-bg .banner-content {
  position: relative;
}
#main .banner-bg .banner-content > div {
  padding: 0 40px;
}
#main .banner-bg .banner-content > div .center-content {
  position: relative;
  padding: 0 5px;
  padding-top: 118px;
}
#main .banner-bg .banner-content > div .center-content > div {
  position: relative;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  line-height: 34px;
}
#main .banner-bg .banner-content > div .center-content > div > img {
  width: 226px;
  height: 34px;
}
#main .banner-bg .banner-content > div .center-content > div > span {
  vertical-align: middle;
  font-size: 36px;
  color: #fff;
}
@media screen and (max-width: 992px) {
  #main .banner-bg {
    padding: 0;
  }
  #main .banner-bg .banner-content {
    position: relative;
  }
  #main .banner-bg .banner-content > div .center-content {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  #main .banner-bg .banner-content > div {
    padding: 0;
  }
  #main .banner-bg .banner-content > div .center-content > div > span {
    vertical-align: middle;
    font-size: 19px;
  }
}
#main .suc-head {
  position: relative;
  padding-top: 20px;
}
#main .suc-head > div {
  padding-top: 80px;
  padding-bottom: 28px;
  text-align: center;
}
#main .suc-head > div .text1 > p {
  color: #808080;
}
@media screen and (max-width: 992px) {
  #main .suc-head > div {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  #main .suc-head > div {
    padding-top: 0;
    padding-bottom: 20px;
  }
  #main .suc-head > div .text-all > h4 {
    font-size: 20px;
    color: #333;
  }
  #main .suc-head > div .text1 > p {
    color: #696969;
    font-size: 12px;
  }
}
#main .suc-head.animation > div .text-all {
  opacity: 1;
  transform: none;
}
#main .suc-case {
  position: relative;
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
  padding-left: 40px;
  padding-right: 40px;
}
#main .suc-case .swiper-container {
  max-width: 1170px;
  padding-bottom: 50px;
}
#main .suc-case .swiper-container .swiper-wrapper {
  margin: 0 auto;
}
#main .suc-case .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}
#main .suc-case .swiper-container .swiper-wrapper .swiper-slide .case-content > img {
  width: 100%;
}
#main .suc-case .swiper-container .swiper-wrapper .swiper-slide .case-content > p {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #333;
}
#main .suc-case .swiper-container .swiper-wrapper .swiper-slide .mask-layer {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#main .suc-case .swiper-container .swiper-wrapper .swiper-slide .mask-layer > img {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 45%;
}
#main .suc-case .swiper-container .swiper-wrapper .swiper-slide .mask-layer > a {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
}
#main .suc-case .swiper-container .swiper-wrapper .swiper-slide:hover .mask-layer {
  display: block;
}
#main .suc-case .swiper-container .swiper-button-prev,
#main .suc-case .swiper-container .swiper-button-next {
  background-color: #a2a2a2;
  top: 0;
  margin-top: 0;
  width: 50px;
  height: 50px;
  background-size: 15px 40px;
}
#main .suc-case .swiper-container .arrow-all {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 50px;
}
#main .suc-case .swiper-container .arrow-all .swiper-button-prev {
  left: 0;
  transform: translateX(-100%);
}
#main .suc-case .swiper-container .arrow-all .swiper-button-next {
  right: 0;
  transform: translateX(100%);
}
@media screen and (max-width: 992px) {
  #main .suc-case {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  #main .suc-case {
    padding-bottom: 0px;
  }
}
#main .good-field {
  position: relative;
  background-color: #f2f2f2;
  padding: 20px 0;
}
#main .good-field .good-head {
  padding: 80px 0 20px;
  text-align: center;
}
#main .good-field .good-head .text1 > p {
  color: #696969;
}
@media screen and (max-width: 992px) {
  #main .good-field .good-head {
    padding-top: 15px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  #main .good-field .good-head .text-all > h4 {
    font-size: 20px;
    color: #1e3c3f;
  }
}
#main .good-field.animation .good-head .text-all {
  opacity: 1;
  transform: none;
}
#main .good-body {
  position: relative;
  padding: 20px 0 80px;
  background-color: #f2f2f2;
}
#main .good-body .container {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
}
#main .good-body .container .row {
  padding-top: 20px;
}
#main .good-body .container .row .outbox {
  padding: 0 5px 5px;
  margin-bottom: 5px;
  transition: all .6s ease;
  opacity: 0;
  transform: translateY(100%);
}
#main .good-body .container .row .outbox .innerbox {
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  padding: 0 20px 20px;
}
#main .good-body .container .row .outbox .innerbox > img {
  display: block;
  margin: 0 auto;
  height: 80px;
  padding-top: 10px;
  margin-bottom: 10px;
}
#main .good-body .container .row .outbox .innerbox > div {
  margin-top: 20px 0 5px;
  text-align: center;
  color: #333;
  font-size: 18px;
  line-height: 24px;
}
#main .good-body .container .row .outbox .innerbox > p {
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  color: #727272;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main .good-body .container .row .outbox .innerbox:hover {
  transform: translateY(-20px);
}
@media screen and (min-width: 992px) {
  #main .good-body .container .row .outbox .innerbox:hover {
    box-shadow: 0 4px 10px #CCC;
  }
}
@media screen and (max-width: 992px) {
  #main .good-body {
    padding: 0 0 50px;
  }
}
@media screen and (max-width: 768px) {
  #main .good-body {
    padding: 0 0 10px;
  }
}
#main .good-body.animation .container .row .outbox {
  margin-bottom: 20px;
  opacity: 1;
  transform: none;
}
#main > section .text-all > h4 {
  font-family: 微软雅黑;
  font-size: 32px;
  transition: all ease .6s;
}
#main > section .text-all > i {
  display: block;
  margin: 20px auto;
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #1cc895, #3994e3);
}
#main > section .text-ani {
  opacity: 0;
  transform: translateY(-15px);
  transition: all 1s;
}
